.title-top{
    padding: 0px 0px !important; 
    margin-top: 0px;
}

.page-container{
    margin-right: 10%;
    margin-left: 10%;
}
/**
Organization Form buttons
**/
.panel-default > .panel-heading{
    color: #1964B6;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.saveStateButton{
    margin-top: -96px;
    margin-left: 80px;
}
.orgResetButton{    
    margin-top: -175px;
    margin-left: 188px;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
}