.required:after { 
    content:" *"; 
    color:red; 
}
input[type="checkbox"].form-control{
    width: auto;
    height: auto;
    margin: 4px 4px;
}
.legendLabel{
    font-size: 14px;
}
.form-horizontal label:not(.inline){
    display: block;
}
.form-inline label{
    padding: 4px;
}

.checkboxAgreement{
    display: inline-block;
}

.btn-inline{
    margin: 5px 5px 0px 0px;
}

.form-register{
    width: 75%;
    display: inline-block;
    border-radius: 0px;
    box-shadow: none;
    background-color: #f5f5f5;
    border: 0px;
    height: 35px; margin:10px 0;

    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;	
}
.register{   
    /*text-align: center;*/
}
.register label{ 
    display: inline-block !important;
    width: 23%; color:#1964b6 ; font-weight:400; 
}
.register ul {    
    list-style: none; 
    font-size: 12px; margin-left:19%;
}
.mar label{ 
    color:#777; 
}
.register #user_form_photo{ 
    display: inline-block;     
    margin: 10px 0; 
}
.mar{
    margin:10px 0;
}
.register .btn{ 
    min-width:100px;
}


