.required:after { 
    content:" *"; 
    color:red; 
}
input[type="checkbox"].form-control{
    width: auto;
    height: auto;
    margin: 4px 4px;
}
.legendLabel{
    font-size: 14px;
}
.form-horizontal label:not(.inline){
    display: block;
}
.form-inline label{
    padding: 4px;
}

.checkboxAgreement{
    display: inline-block;
}
