/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {

    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    /*position: absolute;*/
    background-color:#FFFFFF !important;
    border-bottom:3px solid #0c85cf;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.white-bar{ background-color:#FFFFFF !important; border:none;}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

/* MAINHOLDER
-------------------------------------------------- */
.main-holder{ margin-top: 100px;}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    /*margin-bottom: 60px; */

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom:60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */
hr.featurette-divider {     /*border-top: 1px solid #fff;*/ border:none; }
.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        /*    margin-top: 20px;
        */  }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.blue-wrapper{ 
    background-color:#1964b6;
}
.navbar{ margin-bottom:0px;
}
.navbar-form .form-control{ background-color:#6ba3e0  !important;
                            height: 27px !important;
                            border: none !important;
                            color: #1964b6;



}
.navbar-form .btn-success{ background-color:#023d7d;
                           color:#fff; border:none;
                           line-height: 1.3;
                           font-size: 12px;

}
.navbar-nav{ float:right;
             padding-top: 11px;
}
.navbar-brand {
    height: 73px;
    padding: 5px 15px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
    color:#023d7d; 
    background-color: #fff; /*border-bottom:12px solid #023d7d; */

}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover{
    color:#023d7d !important; background:none;


}
.navbar-inverse .navbar-nav>li>a {   
    text-transform: uppercase; 
    color:#3b3b3b ; 
    font-size: 13px;

    padding: 15px 13px;
}
h1.slidefont{ 
    text-transform: uppercase; 
    font-size:50px;}


.center-content{ text-align:center; padding:30px 20px;


}
.text-upper{ 
    text-transform:uppercase;     
    padding-top: 18px;
}
.center-content:hover{ 
    background-color:#62CBF7; 
    padding:30px 20px; 
    color:#fff;}

.gray-bg{ 
    background-color:#f6f6f8;     
    padding: 80px 0;
}

.course-item{
    box-shadow: 7px 7px #f3f2f2; margin-bottom:10px;




}
.main-title{ 
    color:#0f7dca;
    text-transform:uppercase;
    text-align:left;
    font-size:27px;
    padding: 24px 15px;
    font-weight: bold;
}


div.desc{
    background-color: #fafafa;
    color: #fff;
    width: 100%;
}

.fix{
    /* width: 100%;
     padding: 0px;*/
}				

.course-title{ background-color:#234fa6; 
               color:#fff;


}
h4.course-title{ margin:0; padding:10px 10px ; color:#fff; text-transform:uppercase; font-size:15px;}
.course-bg { background-color:#234fa6; 
}
.content-course{
    background-color: #fafafa; 
    padding:10px 10px; color:#5e5e5e;
}

p.desc_content{ color:#5e5e5e;}

.content-course a{ color:#a5a5a7; 
                   font-size:12px; 
                   text-transform:uppercase;}

#carousel-example-generic, #carousel-example-generic .item{ height:360px;}


.small-ca{ 
    font-size:48px;
    font-weight: bold; 
    color:#fff; 
}
#carousel-example-generic p{

    font-size:30px;}
.btn-white{
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 11px;
    padding: 12px 40px;
    background-color: transparent;
    min-width: 23%;
    font-size: 16px;
}

.news .input-group .form-control  {}
.news .input-group{ display:inline-block; width: 70%;}
.news .input-group .form-control{ float:none;border-radius: 10px;}
.news input.form-control{box-shadow: none;
                         border: 2px solid #ccc;
                         height: 50px;}

.news-btn{ height: 50px; 
           border-bottom:3px solid #0170b0; 
           background-color:#0484ce; 
           border:0;  min-width: 19%;
           border-radius: 10px;
           text-transform: uppercase;}
.news-heading{ 

    font-size:34px;
    text-transform: uppercase;
    color:#4598d5;

}
.lead{ color:#575757;}
.news{    margin-top: 52px;}

.footer{ background-color:#39393a; padding:30px 0;}

.links-footer{padding-left: 0;
              margin: 12px 0;
}
.links-footer li{ 
    font-size:12px;   
    padding-right: 10px;
    display: inline-block;  
    text-transform: uppercase;
    color: #dedddd;}

.social li a i{ 	color: #bfbfc0;}

.social li{padding-left: 22px;}
.footer p{ 
    color: #dedddd;}
.social{ float:right;}
.links{ float:left;}
.navbar-inverse .navbar-nav>li>a:focus{ color:#023d7d; }

/* Coursers */	
.image-course{ background-image:url("../images/image-bg.jpg");
               height: 265px;
               background-repeat: no-repeat;
               background-size: cover;     padding: 41px;}


.course-name{ 
    color:#fff; 
    font-size:36px;
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; }

.btn-course-enroll{    background-color: #FFFFFF;
                       border: 0px;
                       padding: 10px 18px;
                       color: #1964B6;
                       text-transform: uppercase;
                       font-weight: 700;}

.btn-blue-enroll{   background-color: #1964B6;
                    border: 0px;
                    padding: 10px 18px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-weight: 700;}

.inner-cont{ padding:20px;}
.inner-cont span{ color:#fff;}
.course-date { background-color:#f6f6f8; padding:25px;}


/*Tabs Class */		
.tab-content{ padding:30px 20px; }
.nav-tabs{background: #f6f6f8; border-bottom:0px;}


.title-blue { color:#1964B6; padding:18px 0px; 
              font-weight: 600;
              text-transform:uppercase;}

.image-about{ background-image:url("../images/about.jpg");
              height: 265px;
              background-repeat: no-repeat;
              background-size: cover;     padding: 41px;}

.static-cont{ padding: 33px 34px;}
